# ===== DJANGO =====
backend/__pycache__/
backend/**/__pycache__/
backend/*.py[cod]
backend/.env
backend/venv/
backend/env/
backend/db.sqlite3
backend/media/
backend/staticfiles/

# ===== REACT =====
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/